mycollab-web/src/test/resources/engroup.dtd

<!ELEMENT dataset (
    m_attachment*,
    m_audit_log*,
    m_colla_workgroup*,
    m_colla_workgroup_comment*,
    m_colla_workgroup_message*,
    m_colla_workgroup_user*,
    m_comment*,
    m_crm_account*,
    m_crm_accounts_contacts*,
    m_crm_accounts_leads*,
    m_crm_call*,
    m_crm_campaign*,
    m_crm_campaigns_accounts*,
    m_crm_campaigns_contacts*,
    m_crm_campaigns_leads*,
    m_crm_case*,
    m_crm_contact*,
    m_crm_contacts_cases*,
    m_crm_contacts_opportunities*,
    m_crm_contract*,
    m_crm_customer*,
    m_crm_industry*,
    m_crm_lead*,
    m_crm_meeting*,
    m_crm_note*,
    m_crm_opportunities_contacts*,
    m_crm_opportunities_leads*,
    m_crm_opportunity*,
    m_crm_opportunity_type*,
    m_crm_product*,
    m_crm_product_catalog*,
    m_crm_quote*,
    m_crm_quote_group_product*,
    m_crm_sales_stage*,
    m_crm_target*,
    m_crm_target_list*,
    m_crm_task*,
    m_ecm_transaction*,
    m_friend_friend*,
    m_friend_request*,
    m_group*,
    m_hr_company*,
    m_hr_company_policy*,
    m_hr_division*,
    m_hr_divisiontype*,
    m_hr_education*,
    m_hr_employee_contact*,
    m_hr_employee_education*,
    m_hr_employee_emergency_contact*,
    m_hr_employee_family*,
    m_hr_employee_immigration*,
    m_hr_employee_job*,
    m_hr_employee_language*,
    m_hr_employee_leave*,
    m_hr_employee_licenses*,
    m_hr_employee_payment*,
    m_hr_employee_personal*,
    m_hr_employee_skill*,
    m_hr_employee_work_experience*,
    m_hr_employment_status*,
    m_hr_holiday*,
    m_hr_job_categories*,
    m_hr_jobtitle*,
    m_hr_language*,
    m_hr_language_level*,
    m_hr_leave_type*,
    m_hr_licenses*,
    m_hr_location*,
    m_hr_pay_grades*,
    m_hr_skill*,
    m_monitor_item*,
    m_pm_messages*,
    m_pm_sent_messages*,
    m_prj_member*,
    m_prj_message*,
    m_prj_milestone*,
    m_prj_problem*,
    m_prj_project*,
    m_prj_resource*,
    m_prj_risk*,
    m_prj_role*,
    m_prj_role_permission*,
    m_prj_standup*,
    m_prj_task*,
    m_prj_task_list*,
    m_prj_task_resource*,
    m_prj_time_logging*,
    m_rss_agreegator*,
    m_social_message*,
    m_social_user_message*,
    m_tag_relationship*,
    m_tag_tag*,
    m_tag_taxonomy*,
    m_todo*,
    m_todo_category*,
    m_todo_status*,
    m_tracker_bug*,
    m_tracker_bug_related_item*,
    m_tracker_component*,
    m_tracker_history*,
    m_tracker_metadata*,
    m_tracker_query*,
    m_tracker_related_bug*,
    m_tracker_version*,
    s_account*,
    s_account_currency*,
    s_account_settings*,
    s_activitystream*,
    s_billing_plan*,
    s_chat_server*,
    s_country*,
    s_currency*,
    s_marital_status*,
    s_module*,
    s_relay_email_notification*,
    s_relay_mail*,
    s_report_bug_issue*,
    s_role_permission*,
    s_roles*,
    s_save_search_result*,
    s_user*,
    s_user_account*,
    s_user_account_invitation*,
    s_user_information*,
    s_user_permission*,
    s_user_preference*,
    s_user_tracking*,
    schema_version*)>

<!ELEMENT m_attachment EMPTY>
<!ATTLIST m_attachment
    id CDATA #REQUIRED
    type CDATA #REQUIRED
    documentpath CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    typeid CDATA #IMPLIED
>

<!ELEMENT m_audit_log EMPTY>
<!ATTLIST m_audit_log
    id CDATA #REQUIRED
    object_class CDATA #REQUIRED
    changeset CDATA #REQUIRED
    posteddate CDATA #REQUIRED
    posteduser CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    type CDATA #REQUIRED
    typeid CDATA #REQUIRED
    module CDATA #REQUIRED
>

<!ELEMENT m_colla_workgroup EMPTY>
<!ATTLIST m_colla_workgroup
    id CDATA #REQUIRED
    owner CDATA #IMPLIED
    description CDATA #IMPLIED
    isModerated CDATA #IMPLIED
    sAccountId CDATA #IMPLIED
    groupname CDATA #IMPLIED
    accessMode CDATA #IMPLIED
    createdTime CDATA #IMPLIED
>

<!ELEMENT m_colla_workgroup_comment EMPTY>
<!ATTLIST m_colla_workgroup_comment
    id CDATA #REQUIRED
    comment CDATA #IMPLIED
    postedUser CDATA #IMPLIED
    postedDate CDATA #IMPLIED
    messageid CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_colla_workgroup_message EMPTY>
<!ATTLIST m_colla_workgroup_message
    id CDATA #REQUIRED
    message CDATA #IMPLIED
    postedUser CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    workgroupId CDATA #IMPLIED
    title CDATA #IMPLIED
    m_colla_workgroup_messagecol CDATA #IMPLIED
    lastUpdatedDate CDATA #IMPLIED
>

<!ELEMENT m_colla_workgroup_user EMPTY>
<!ATTLIST m_colla_workgroup_user
    workgroup_id CDATA #REQUIRED
    username CDATA #REQUIRED
    joinedDate CDATA #IMPLIED
    isApproved CDATA #IMPLIED
    id CDATA #REQUIRED
    role CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_comment EMPTY>
<!ATTLIST m_comment
    id CDATA #REQUIRED
    comment CDATA #IMPLIED
    createdUser CDATA #REQUIRED
    createdTime CDATA #REQUIRED
    type CDATA #IMPLIED
    typeId CDATA #IMPLIED
    sAccountId CDATA #IMPLIED
>

<!ELEMENT m_crm_account EMPTY>
<!ATTLIST m_crm_account
    id CDATA #REQUIRED
    accountName CDATA #REQUIRED
    website CDATA #IMPLIED
    phoneOffice CDATA #IMPLIED
    fax CDATA #IMPLIED
    alternatePhone CDATA #IMPLIED
    annualRevenue CDATA #IMPLIED
    billingAddress CDATA #IMPLIED
    city CDATA #IMPLIED
    postalCode CDATA #IMPLIED
    description CDATA #IMPLIED
    state CDATA #IMPLIED
    email CDATA #IMPLIED
    ownership CDATA #IMPLIED
    shippingAddress CDATA #IMPLIED
    shippingCity CDATA #IMPLIED
    shippingPostalCode CDATA #IMPLIED
    shippingState CDATA #IMPLIED
    numemployees CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    type CDATA #IMPLIED
    industry CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    billingCountry CDATA #IMPLIED
    shippingCountry CDATA #IMPLIED
>

<!ELEMENT m_crm_accounts_contacts EMPTY>
<!ATTLIST m_crm_accounts_contacts
    id CDATA #REQUIRED
    accountId CDATA #REQUIRED
    contactId CDATA #REQUIRED
    createdTime CDATA #IMPLIED
>

<!ELEMENT m_crm_accounts_leads EMPTY>
<!ATTLIST m_crm_accounts_leads
    id CDATA #REQUIRED
    accountId CDATA #REQUIRED
    leadId CDATA #REQUIRED
    createTime CDATA #REQUIRED
>

<!ELEMENT m_crm_call EMPTY>
<!ATTLIST m_crm_call
    id CDATA #REQUIRED
    subject CDATA #REQUIRED
    startDate CDATA #IMPLIED
    durationInSeconds CDATA #IMPLIED
    calltype CDATA #IMPLIED
    type CDATA #IMPLIED
    typeid CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    assignUser CDATA #IMPLIED
    description CDATA #IMPLIED
    contactId CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    status CDATA #IMPLIED
    purpose CDATA #IMPLIED
    result CDATA #IMPLIED
    isClosed CDATA #IMPLIED
>

<!ELEMENT m_crm_campaign EMPTY>
<!ATTLIST m_crm_campaign
    id CDATA #REQUIRED
    campaignName CDATA #REQUIRED
    startDate CDATA #IMPLIED
    endDate CDATA #IMPLIED
    currencyId CDATA #IMPLIED
    impressionnote CDATA #IMPLIED
    budget CDATA #IMPLIED
    actualCost CDATA #IMPLIED
    expectedRevenue CDATA #IMPLIED
    expectedCost CDATA #IMPLIED
    objective CDATA #IMPLIED
    description CDATA #IMPLIED
    impression CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    status CDATA #IMPLIED
    type CDATA #IMPLIED
    assignUser CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_campaigns_accounts EMPTY>
<!ATTLIST m_crm_campaigns_accounts
    id CDATA #REQUIRED
    campaignId CDATA #REQUIRED
    accountId CDATA #REQUIRED
    createdTime CDATA #REQUIRED
>

<!ELEMENT m_crm_campaigns_contacts EMPTY>
<!ATTLIST m_crm_campaigns_contacts
    id CDATA #REQUIRED
    campaignId CDATA #REQUIRED
    contactId CDATA #REQUIRED
    createdTime CDATA #REQUIRED
>

<!ELEMENT m_crm_campaigns_leads EMPTY>
<!ATTLIST m_crm_campaigns_leads
    id CDATA #REQUIRED
    campaignId CDATA #REQUIRED
    leadId CDATA #REQUIRED
    createdTime CDATA #REQUIRED
>

<!ELEMENT m_crm_case EMPTY>
<!ATTLIST m_crm_case
    id CDATA #REQUIRED
    priority CDATA #IMPLIED
    status CDATA #IMPLIED
    type CDATA #IMPLIED
    subject CDATA #REQUIRED
    description CDATA #IMPLIED
    resolution CDATA #IMPLIED
    accountId CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    reason CDATA #IMPLIED
    origin CDATA #IMPLIED
    email CDATA #IMPLIED
    phonenumber CDATA #IMPLIED
>

<!ELEMENT m_crm_contact EMPTY>
<!ATTLIST m_crm_contact
    id CDATA #REQUIRED
    prefix CDATA #IMPLIED
    firstname CDATA #IMPLIED
    lastname CDATA #REQUIRED
    leadSource CDATA #IMPLIED
    campaignId CDATA #IMPLIED
    isCallable CDATA #IMPLIED
    officePhone CDATA #IMPLIED
    mobile CDATA #IMPLIED
    homePhone CDATA #IMPLIED
    otherPhone CDATA #IMPLIED
    fax CDATA #IMPLIED
    birthday CDATA #IMPLIED
    assistant CDATA #IMPLIED
    primAddress CDATA #IMPLIED
    primCity CDATA #IMPLIED
    primState CDATA #IMPLIED
    primPostalCode CDATA #IMPLIED
    primCountry CDATA #IMPLIED
    description CDATA #IMPLIED
    title CDATA #IMPLIED
    assistantPhone CDATA #IMPLIED
    email CDATA #IMPLIED
    department CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    otherAddress CDATA #IMPLIED
    otherCity CDATA #IMPLIED
    otherState CDATA #IMPLIED
    otherPostalCode CDATA #IMPLIED
    otherCountry CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_contacts_cases EMPTY>
<!ATTLIST m_crm_contacts_cases
    id CDATA #REQUIRED
    contactId CDATA #REQUIRED
    caseId CDATA #REQUIRED
    createdTime CDATA #IMPLIED
>

<!ELEMENT m_crm_contacts_opportunities EMPTY>
<!ATTLIST m_crm_contacts_opportunities
    id CDATA #REQUIRED
    contactId CDATA #REQUIRED
    opportunityId CDATA #REQUIRED
    createdTime CDATA #REQUIRED
>

<!ELEMENT m_crm_contract EMPTY>
<!ATTLIST m_crm_contract
    id CDATA #REQUIRED
    contractname CDATA #REQUIRED
    status CDATA #IMPLIED
    code CDATA #IMPLIED
    accountid CDATA #IMPLIED
    opportunityid CDATA #IMPLIED
    currencyid CDATA #IMPLIED
    customersigneddate CDATA #IMPLIED
    companysigneddate CDATA #IMPLIED
    type CDATA #IMPLIED
    description CDATA #IMPLIED
    startdate CDATA #IMPLIED
    enddate CDATA #IMPLIED
    contractvalue CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_customer EMPTY>
<!ATTLIST m_crm_customer
    id CDATA #REQUIRED
    title CDATA #IMPLIED
    firstname CDATA #IMPLIED
    lastname CDATA #REQUIRED
    leadsource CDATA #IMPLIED
    assignUser CDATA #IMPLIED
    department CDATA #IMPLIED
    officePhone CDATA #IMPLIED
    mobile CDATA #IMPLIED
    homePhone CDATA #IMPLIED
    assisstant CDATA #IMPLIED
    assisstantPhone CDATA #IMPLIED
    birthday CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_industry EMPTY>
<!ATTLIST m_crm_industry
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT m_crm_lead EMPTY>
<!ATTLIST m_crm_lead
    id CDATA #REQUIRED
    campaignId CDATA #IMPLIED
    leadSourceDesc CDATA #IMPLIED
    statusDesc CDATA #IMPLIED
    referredBy CDATA #IMPLIED
    prefixName CDATA #IMPLIED
    firstname CDATA #IMPLIED
    lastname CDATA #REQUIRED
    accountName CDATA #IMPLIED
    title CDATA #IMPLIED
    department CDATA #IMPLIED
    isCallable CDATA #IMPLIED
    officePhone CDATA #IMPLIED
    homePhone CDATA #IMPLIED
    mobile CDATA #IMPLIED
    otherPhone CDATA #IMPLIED
    fax CDATA #IMPLIED
    primAddress CDATA #IMPLIED
    primState CDATA #IMPLIED
    primCity CDATA #IMPLIED
    primPostalCode CDATA #IMPLIED
    primCountry CDATA #IMPLIED
    description CDATA #IMPLIED
    email CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    status CDATA #IMPLIED
    source CDATA #IMPLIED
    website CDATA #IMPLIED
    otherAddress CDATA #IMPLIED
    otherState CDATA #IMPLIED
    otherCity CDATA #IMPLIED
    otherPostalCode CDATA #IMPLIED
    otherCountry CDATA #IMPLIED
    industry CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    noEmployees CDATA #IMPLIED
>

<!ELEMENT m_crm_meeting EMPTY>
<!ATTLIST m_crm_meeting
    id CDATA #REQUIRED
    subject CDATA #IMPLIED
    status CDATA #IMPLIED
    type CDATA #IMPLIED
    typeid CDATA #IMPLIED
    startDate CDATA #IMPLIED
    endDate CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    location CDATA #IMPLIED
    description CDATA #IMPLIED
    isRecurrence CDATA #IMPLIED
    recurrenceType CDATA #IMPLIED
    recurrenceStartDate CDATA #IMPLIED
    recurrenceEndDate CDATA #IMPLIED
    contactType CDATA #IMPLIED
    contactTypeId CDATA #IMPLIED
    isClosed CDATA #IMPLIED
>

<!ELEMENT m_crm_note EMPTY>
<!ATTLIST m_crm_note
    id CDATA #REQUIRED
    subject CDATA #REQUIRED
    note CDATA #IMPLIED
    type CDATA #IMPLIED
    typeid CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_opportunities_contacts EMPTY>
<!ATTLIST m_crm_opportunities_contacts
    id CDATA #REQUIRED
    opportunityId CDATA #REQUIRED
    contactId CDATA #REQUIRED
    createdTime CDATA #IMPLIED
>

<!ELEMENT m_crm_opportunities_leads EMPTY>
<!ATTLIST m_crm_opportunities_leads
    id CDATA #REQUIRED
    opportunityId CDATA #REQUIRED
    leadId CDATA #REQUIRED
    createdTime CDATA #REQUIRED
>

<!ELEMENT m_crm_opportunity EMPTY>
<!ATTLIST m_crm_opportunity
    id CDATA #REQUIRED
    opportunityName CDATA #REQUIRED
    currencyid CDATA #IMPLIED
    accountid CDATA #REQUIRED
    amount CDATA #IMPLIED
    type CDATA #IMPLIED
    source CDATA #IMPLIED
    expectedClosedDate CDATA #IMPLIED
    campaignid CDATA #IMPLIED
    nextStep CDATA #IMPLIED
    probability CDATA #IMPLIED
    description CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    opportunityType CDATA #IMPLIED
    salesStage CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_opportunity_type EMPTY>
<!ATTLIST m_crm_opportunity_type
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT m_crm_product EMPTY>
<!ATTLIST m_crm_product
    id CDATA #REQUIRED
    productname CDATA #REQUIRED
    status CDATA #IMPLIED
    accountid CDATA #IMPLIED
    website CDATA #IMPLIED
    quantity CDATA #IMPLIED
    serialnumber CDATA #IMPLIED
    assessnumber CDATA #IMPLIED
    contactid CDATA #IMPLIED
    supportstartdate CDATA #IMPLIED
    supportenddate CDATA #IMPLIED
    salesdate CDATA #IMPLIED
    unitprice CDATA #IMPLIED
    description CDATA #IMPLIED
    producturl CDATA #IMPLIED
    supportcontact CDATA #IMPLIED
    supportterm CDATA #IMPLIED
    supportdesc CDATA #IMPLIED
    cost CDATA #IMPLIED
    listprice CDATA #IMPLIED
    groupid CDATA #IMPLIED
    tax CDATA #IMPLIED
    taxClass CDATA #IMPLIED
    mftNumber CDATA #IMPLIED
    vendorPartNumber CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_product_catalog EMPTY>
<!ATTLIST m_crm_product_catalog
    id CDATA #REQUIRED
    url CDATA #IMPLIED
    taxclass CDATA #IMPLIED
    mft_partnumber CDATA #IMPLIED
    vendor_partnumber CDATA #IMPLIED
    currencyid CDATA #IMPLIED
    cost CDATA #IMPLIED
    listprice CDATA #IMPLIED
    discountprice CDATA #IMPLIED
    pricing_formula CDATA #IMPLIED
    description CDATA #IMPLIED
    date_available CDATA #IMPLIED
    availability CDATA #IMPLIED
    quantity_in_stock CDATA #IMPLIED
    support_name CDATA #IMPLIED
    support_contact CDATA #IMPLIED
    support_desc CDATA #IMPLIED
    support_term CDATA #IMPLIED
    productname CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_quote EMPTY>
<!ATTLIST m_crm_quote
    id CDATA #REQUIRED
    subject CDATA #REQUIRED
    quotestage CDATA #IMPLIED
    opportunityid CDATA #IMPLIED
    validuntil CDATA #IMPLIED
    shipping CDATA #IMPLIED
    billaccount CDATA #REQUIRED
    billcontact CDATA #IMPLIED
    shipaccount CDATA #IMPLIED
    shipcontact CDATA #IMPLIED
    billingaddress CDATA #REQUIRED
    billingcity CDATA #IMPLIED
    billingstate CDATA #IMPLIED
    billingpostalcode CDATA #IMPLIED
    billingcountry CDATA #IMPLIED
    shippingaddress CDATA #REQUIRED
    shippingcity CDATA #IMPLIED
    shippingstate CDATA #IMPLIED
    shippingpostalcode CDATA #IMPLIED
    shippingcountry CDATA #IMPLIED
    description CDATA #IMPLIED
    paymentterm CDATA #IMPLIED
    originalpodate CDATA #IMPLIED
    purchaseordernum CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_quote_group_product EMPTY>
<!ATTLIST m_crm_quote_group_product
    id CDATA #REQUIRED
    groupname CDATA #IMPLIED
    groupstate CDATA #IMPLIED
    tax CDATA #IMPLIED
    shipping CDATA #IMPLIED
    quoteid CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_sales_stage EMPTY>
<!ATTLIST m_crm_sales_stage
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT m_crm_target EMPTY>
<!ATTLIST m_crm_target
    id CDATA #REQUIRED
    prefixname CDATA #IMPLIED
    firstname CDATA #IMPLIED
    lastname CDATA #REQUIRED
    title CDATA #IMPLIED
    department CDATA #IMPLIED
    birthday CDATA #IMPLIED
    accountname CDATA #IMPLIED
    isCallable CDATA #IMPLIED
    officePhone CDATA #IMPLIED
    mobile CDATA #IMPLIED
    homePhone CDATA #IMPLIED
    otherPhone CDATA #IMPLIED
    fax CDATA #IMPLIED
    assistant CDATA #IMPLIED
    assistantPhone CDATA #IMPLIED
    primaryAddress CDATA #IMPLIED
    primaryCity CDATA #IMPLIED
    primaryState CDATA #IMPLIED
    primaryPostal CDATA #IMPLIED
    primaryCountryId CDATA #IMPLIED
    description CDATA #IMPLIED
    email CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_target_list EMPTY>
<!ATTLIST m_crm_target_list
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    type CDATA #IMPLIED
    description CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    assignUser CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_crm_task EMPTY>
<!ATTLIST m_crm_task
    id CDATA #REQUIRED
    subject CDATA #REQUIRED
    startdate CDATA #IMPLIED
    duedate CDATA #IMPLIED
    contactId CDATA #IMPLIED
    typeid CDATA #IMPLIED
    description CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    status CDATA #IMPLIED
    assignUser CDATA #IMPLIED
    priority CDATA #IMPLIED
    type CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    isClosed CDATA #IMPLIED
>

<!ELEMENT m_ecm_transaction EMPTY>
<!ATTLIST m_ecm_transaction
    id CDATA #REQUIRED
    contentpath CDATA #REQUIRED
    owner CDATA #IMPLIED
    action CDATA #REQUIRED
    actiontime CDATA #REQUIRED
    contenttype CDATA #REQUIRED
>

<!ELEMENT m_friend_friend EMPTY>
<!ATTLIST m_friend_friend
    id CDATA #REQUIRED
    username CDATA #REQUIRED
    friendname CDATA #REQUIRED
    createdDate CDATA #IMPLIED
>

<!ELEMENT m_friend_request EMPTY>
<!ATTLIST m_friend_request
    id CDATA #REQUIRED
    requestFrom CDATA #REQUIRED
    requestTo CDATA #REQUIRED
    requestDate CDATA #REQUIRED
    message CDATA #IMPLIED
>

<!ELEMENT m_group EMPTY>
<!ATTLIST m_group
    id CDATA #REQUIRED
    owner CDATA #IMPLIED
    description CDATA #IMPLIED
    createddate CDATA #REQUIRED
>

<!ELEMENT m_hr_company EMPTY>
<!ATTLIST m_hr_company
    id CDATA #REQUIRED
    address1 CDATA #IMPLIED
    address2 CDATA #IMPLIED
    city CDATA #IMPLIED
    comments CDATA #IMPLIED
    companyname CDATA #REQUIRED
    fax CDATA #IMPLIED
    phone CDATA #IMPLIED
    state CDATA #IMPLIED
    taxid CDATA #IMPLIED
    zipcode CDATA #IMPLIED
    countryid CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_company_policy EMPTY>
<!ATTLIST m_hr_company_policy
    id CDATA #REQUIRED
    title CDATA #REQUIRED
    details CDATA #IMPLIED
    applyTo CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    status CDATA #REQUIRED
    lastVisionDate CDATA #IMPLIED
    policyDocPath CDATA #REQUIRED
    sAccountId CDATA #IMPLIED
>

<!ELEMENT m_hr_division EMPTY>
<!ATTLIST m_hr_division
    id CDATA #REQUIRED
    description CDATA #IMPLIED
    location CDATA #IMPLIED
    division CDATA #REQUIRED
    companyid CDATA #REQUIRED
    divisionparentid CDATA #IMPLIED
    divisiontypeid CDATA #IMPLIED
    telephone CDATA #IMPLIED
    fax CDATA #IMPLIED
    divisionheadid CDATA #IMPLIED
>

<!ELEMENT m_hr_divisiontype EMPTY>
<!ATTLIST m_hr_divisiontype
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT m_hr_education EMPTY>
<!ATTLIST m_hr_education
    id CDATA #REQUIRED
    course CDATA #REQUIRED
    durationinmonth CDATA #IMPLIED
    institute CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_employee_contact EMPTY>
<!ATTLIST m_hr_employee_contact
    id CDATA #REQUIRED
    city CDATA #IMPLIED
    hometelephone CDATA #IMPLIED
    otheremail CDATA #IMPLIED
    state CDATA #IMPLIED
    street1 CDATA #IMPLIED
    street2 CDATA #IMPLIED
    workemail CDATA #IMPLIED
    worktelephone CDATA #IMPLIED
    zipcode CDATA #IMPLIED
    employeeid CDATA #REQUIRED
    countryid CDATA #IMPLIED
    mobile CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_education EMPTY>
<!ATTLIST m_hr_employee_education
    id CDATA #REQUIRED
    educationid CDATA #REQUIRED
    employeeid CDATA #REQUIRED
    startdate CDATA #REQUIRED
    enddate CDATA #REQUIRED
    score CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_emergency_contact EMPTY>
<!ATTLIST m_hr_employee_emergency_contact
    id CDATA #REQUIRED
    hometelephone CDATA #IMPLIED
    mobiletelephone CDATA #IMPLIED
    relname CDATA #REQUIRED
    relationship CDATA #IMPLIED
    worktelephone CDATA #IMPLIED
    employeeid CDATA #REQUIRED
>

<!ELEMENT m_hr_employee_family EMPTY>
<!ATTLIST m_hr_employee_family
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    relationship CDATA #REQUIRED
    dob CDATA #IMPLIED
    employeeid CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_immigration EMPTY>
<!ATTLIST m_hr_employee_immigration
    id CDATA #REQUIRED
    comments CDATA #IMPLIED
    expireddate CDATA #IMPLIED
    issuesdate CDATA #IMPLIED
    no CDATA #IMPLIED
    type CDATA #IMPLIED
    citizenship CDATA #IMPLIED
    employeeid CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_job EMPTY>
<!ATTLIST m_hr_employee_job
    id CDATA #REQUIRED
    joineddate CDATA #IMPLIED
    jobtitleid CDATA #IMPLIED
    employeeid CDATA #REQUIRED
    employmentstatusid CDATA #IMPLIED
    divisionid CDATA #IMPLIED
    contract_startdate CDATA #REQUIRED
    contract_enddate CDATA #REQUIRED
    comments CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_language EMPTY>
<!ATTLIST m_hr_employee_language
    id CDATA #REQUIRED
    employeeid CDATA #REQUIRED
    languageid CDATA #REQUIRED
    levelid CDATA #REQUIRED
    comment CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_leave EMPTY>
<!ATTLIST m_hr_employee_leave
    id CDATA #REQUIRED
    fromdate CDATA #REQUIRED
    todate CDATA #REQUIRED
    leavetypeid CDATA #IMPLIED
    username CDATA #REQUIRED
    reasonToLeave CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_licenses EMPTY>
<!ATTLIST m_hr_employee_licenses
    id CDATA #REQUIRED
    startDate CDATA #IMPLIED
    endDate CDATA #IMPLIED
    licenseid CDATA #REQUIRED
    employeeid CDATA #REQUIRED
>

<!ELEMENT m_hr_employee_payment EMPTY>
<!ATTLIST m_hr_employee_payment
    id CDATA #REQUIRED
    employeeid CDATA #REQUIRED
    paygradeid CDATA #REQUIRED
    salary CDATA #REQUIRED
    comment CDATA #IMPLIED
    startdate CDATA #IMPLIED
    enddate CDATA #IMPLIED
>

<!ELEMENT m_hr_employee_personal EMPTY>
<!ATTLIST m_hr_employee_personal
    id CDATA #REQUIRED
    ssn CDATA #IMPLIED
    sin CDATA #IMPLIED
    countryid CDATA #IMPLIED
    gender CDATA #IMPLIED
    maritalstatus CDATA #IMPLIED
    birthday CDATA #IMPLIED
    employeeid CDATA #REQUIRED
>

<!ELEMENT m_hr_employee_skill EMPTY>
<!ATTLIST m_hr_employee_skill
    id CDATA #REQUIRED
    comments CDATA #IMPLIED
    yearsofexperience CDATA #IMPLIED
    skillid CDATA #REQUIRED
    employeeid CDATA #REQUIRED
>

<!ELEMENT m_hr_employee_work_experience EMPTY>
<!ATTLIST m_hr_employee_work_experience
    id CDATA #REQUIRED
    comments CDATA #IMPLIED
    employer CDATA #IMPLIED
    enddate CDATA #IMPLIED
    jobtitle CDATA #IMPLIED
    startdate CDATA #IMPLIED
    employeeid CDATA #IMPLIED
>

<!ELEMENT m_hr_employment_status EMPTY>
<!ATTLIST m_hr_employment_status
    id CDATA #REQUIRED
    description CDATA #IMPLIED
    status CDATA #REQUIRED
    code CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_holiday EMPTY>
<!ATTLIST m_hr_holiday
    id CDATA #REQUIRED
    holDate CDATA #REQUIRED
    holName CDATA #REQUIRED
    description CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_job_categories EMPTY>
<!ATTLIST m_hr_job_categories
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    paygradeid CDATA #IMPLIED
>

<!ELEMENT m_hr_jobtitle EMPTY>
<!ATTLIST m_hr_jobtitle
    id CDATA #REQUIRED
    description CDATA #IMPLIED
    title CDATA #REQUIRED
    code CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_language EMPTY>
<!ATTLIST m_hr_language
    id CDATA #REQUIRED
    language CDATA #REQUIRED
    code CDATA #REQUIRED
    description CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_language_level EMPTY>
<!ATTLIST m_hr_language_level
    id CDATA #REQUIRED
    level CDATA #REQUIRED
>

<!ELEMENT m_hr_leave_type EMPTY>
<!ATTLIST m_hr_leave_type
    id CDATA #REQUIRED
    description CDATA #IMPLIED
    name CDATA #REQUIRED
    maximumLeave CDATA #IMPLIED
>

<!ELEMENT m_hr_licenses EMPTY>
<!ATTLIST m_hr_licenses
    id CDATA #REQUIRED
    description CDATA #IMPLIED
    license CDATA #REQUIRED
    code CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_location EMPTY>
<!ATTLIST m_hr_location
    id CDATA #REQUIRED
    address CDATA #REQUIRED
    city CDATA #IMPLIED
    comments CDATA #IMPLIED
    fax CDATA #IMPLIED
    locName CDATA #REQUIRED
    phone CDATA #IMPLIED
    state CDATA #IMPLIED
    zipcode CDATA #IMPLIED
    countryid CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_pay_grades EMPTY>
<!ATTLIST m_hr_pay_grades
    id CDATA #REQUIRED
    maximumsalary CDATA #IMPLIED
    minimumsalary CDATA #IMPLIED
    code CDATA #REQUIRED
    currencyid CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_hr_skill EMPTY>
<!ATTLIST m_hr_skill
    id CDATA #REQUIRED
    description CDATA #IMPLIED
    skill CDATA #REQUIRED
    code CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_monitor_item EMPTY>
<!ATTLIST m_monitor_item
    id CDATA #REQUIRED
    user CDATA #REQUIRED
    monitor_date CDATA #REQUIRED
    type CDATA #REQUIRED
    typeid CDATA #REQUIRED
    extraTypeId CDATA #IMPLIED
>

<!ELEMENT m_pm_messages EMPTY>
<!ATTLIST m_pm_messages
    id CDATA #REQUIRED
    sentFrom CDATA #REQUIRED
    sentTo CDATA #IMPLIED
    isSent CDATA #IMPLIED
    isRead CDATA #IMPLIED
    sentDate CDATA #REQUIRED
    title CDATA #REQUIRED
    body CDATA #REQUIRED
    isCopy CDATA #REQUIRED
>

<!ELEMENT m_pm_sent_messages EMPTY>
<!ATTLIST m_pm_sent_messages
    id CDATA #REQUIRED
    sentFrom CDATA #IMPLIED
    sentTo CDATA #IMPLIED
    owner CDATA #IMPLIED
    isRead CDATA #IMPLIED
    sentDate CDATA #IMPLIED
    title CDATA #IMPLIED
    body CDATA #IMPLIED
>

<!ELEMENT m_prj_member EMPTY>
<!ATTLIST m_prj_member
    id CDATA #REQUIRED
    username CDATA #REQUIRED
    projectId CDATA #REQUIRED
    joinDate CDATA #REQUIRED
    projectRoleId CDATA #IMPLIED
    isAdmin CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT m_prj_message EMPTY>
<!ATTLIST m_prj_message
    id CDATA #REQUIRED
    title CDATA #REQUIRED
    message CDATA #IMPLIED
    posteddate CDATA #REQUIRED
    posteduser CDATA #IMPLIED
    projectid CDATA #REQUIRED
    category CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    isStick CDATA #IMPLIED
>

<!ELEMENT m_prj_milestone EMPTY>
<!ATTLIST m_prj_milestone
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    startdate CDATA #IMPLIED
    enddate CDATA #IMPLIED
    owner CDATA #REQUIRED
    flag CDATA #IMPLIED
    projectid CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT m_prj_problem EMPTY>
<!ATTLIST m_prj_problem
    id CDATA #REQUIRED
    issuename CDATA #REQUIRED
    description CDATA #IMPLIED
    projectid CDATA #REQUIRED
    raisedbyuser CDATA #IMPLIED
    assigntouser CDATA #IMPLIED
    impact CDATA #IMPLIED
    priority CDATA #IMPLIED
    status CDATA #IMPLIED
    dateraised CDATA #IMPLIED
    datedue CDATA #IMPLIED
    actualstartdate CDATA #IMPLIED
    actualenddate CDATA #IMPLIED
    level CDATA #IMPLIED
    resolution CDATA #IMPLIED
    state CDATA #IMPLIED
    problemsource CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    type CDATA #IMPLIED
    typeid CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_prj_project EMPTY>
<!ATTLIST m_prj_project
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    owner CDATA #IMPLIED
    account CDATA #IMPLIED
    priority CDATA #IMPLIED
    shortname CDATA #REQUIRED
    planStartDate CDATA #IMPLIED
    planEndDate CDATA #IMPLIED
    targetBudget CDATA #IMPLIED
    homePage CDATA #IMPLIED
    actualBudget CDATA #IMPLIED
    projectType CDATA #IMPLIED
    projectStatus CDATA #REQUIRED
    description CDATA #IMPLIED
    defaultBillingRate CDATA #IMPLIED
    actualStartDate CDATA #IMPLIED
    actualEndDate CDATA #IMPLIED
    defaultOvertimeBillingRate CDATA #IMPLIED
    currencyid CDATA #IMPLIED
    progress CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
>

<!ELEMENT m_prj_resource EMPTY>
<!ATTLIST m_prj_resource
    id CDATA #REQUIRED
    resourcename CDATA #REQUIRED
    bookingtype CDATA #REQUIRED
    notes CDATA #IMPLIED
    username CDATA #IMPLIED
    projectid CDATA #REQUIRED
    allocation CDATA #IMPLIED
    startdate CDATA #IMPLIED
    enddate CDATA #IMPLIED
    workingtimerate CDATA #IMPLIED
    overtimerate CDATA #IMPLIED
    roleid CDATA #IMPLIED
>

<!ELEMENT m_prj_risk EMPTY>
<!ATTLIST m_prj_risk
    id CDATA #REQUIRED
    riskname CDATA #REQUIRED
    description CDATA #IMPLIED
    projectid CDATA #REQUIRED
    raisedbyuser CDATA #IMPLIED
    assigntouser CDATA #IMPLIED
    consequence CDATA #IMPLIED
    probalitity CDATA #IMPLIED
    status CDATA #IMPLIED
    dateraised CDATA #IMPLIED
    datedue CDATA #IMPLIED
    response CDATA #IMPLIED
    resolution CDATA #IMPLIED
    level CDATA #IMPLIED
    source CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    type CDATA #IMPLIED
    typeid CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT m_prj_role EMPTY>
<!ATTLIST m_prj_role
    id CDATA #REQUIRED
    rolename CDATA #REQUIRED
    description CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    projectid CDATA #REQUIRED
>

<!ELEMENT m_prj_role_permission EMPTY>
<!ATTLIST m_prj_role_permission
    id CDATA #REQUIRED
    roleid CDATA #REQUIRED
    roleVal CDATA #REQUIRED
    projectid CDATA #REQUIRED
>

<!ELEMENT m_prj_standup EMPTY>
<!ATTLIST m_prj_standup
    id CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
    projectId CDATA #REQUIRED
    whatlastday CDATA #IMPLIED
    whattoday CDATA #IMPLIED
    whatproblem CDATA #IMPLIED
    forday CDATA #REQUIRED
    logBy CDATA #REQUIRED
    createdTime CDATA #REQUIRED
    lastUpdatedTime CDATA #REQUIRED
>

<!ELEMENT m_prj_task EMPTY>
<!ATTLIST m_prj_task
    id CDATA #REQUIRED
    taskname CDATA #REQUIRED
    percentagecomplete CDATA #REQUIRED
    startdate CDATA #IMPLIED
    enddate CDATA #IMPLIED
    priority CDATA #IMPLIED
    duration CDATA #IMPLIED
    isestimated CDATA #IMPLIED
    projectid CDATA #REQUIRED
    deadline CDATA #IMPLIED
    notes CDATA #IMPLIED
    taskindex CDATA #IMPLIED
    actualStartDate CDATA #IMPLIED
    actualEndDate CDATA #IMPLIED
    tasklistid CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    assignUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    status CDATA #IMPLIED
    logBy CDATA #IMPLIED
    taskkey CDATA #IMPLIED
    originalEstimate CDATA #IMPLIED
    remainEstimate CDATA #IMPLIED
>

<!ELEMENT m_prj_task_list EMPTY>
<!ATTLIST m_prj_task_list
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    description CDATA #IMPLIED
    projectid CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    sAccountId CDATA #IMPLIED
    milestoneId CDATA #IMPLIED
    owner CDATA #IMPLIED
    groupIndex CDATA #IMPLIED
    status CDATA #REQUIRED
>

<!ELEMENT m_prj_task_resource EMPTY>
<!ATTLIST m_prj_task_resource
    id CDATA #REQUIRED
    taskid CDATA #REQUIRED
    resourceid CDATA #REQUIRED
    unit CDATA #REQUIRED
>

<!ELEMENT m_prj_time_logging EMPTY>
<!ATTLIST m_prj_time_logging
    id CDATA #REQUIRED
    projectId CDATA #REQUIRED
    type CDATA #REQUIRED
    typeid CDATA #REQUIRED
    note CDATA #IMPLIED
    logValue CDATA #REQUIRED
    loguser CDATA #IMPLIED
    createdTime CDATA #REQUIRED
    lastUpdatedTime CDATA #REQUIRED
>

<!ELEMENT m_rss_agreegator EMPTY>
<!ATTLIST m_rss_agreegator
    id CDATA #REQUIRED
    uri CDATA #REQUIRED
    description CDATA #IMPLIED
    username CDATA #REQUIRED
>

<!ELEMENT m_social_message EMPTY>
<!ATTLIST m_social_message
    id CDATA #REQUIRED
    message CDATA #IMPLIED
    postedDate CDATA #IMPLIED
    postedUser CDATA #IMPLIED
>

<!ELEMENT m_social_user_message EMPTY>
<!ATTLIST m_social_user_message
    id CDATA #REQUIRED
    user CDATA #REQUIRED
    messages CDATA #IMPLIED
>

<!ELEMENT m_tag_relationship EMPTY>
<!ATTLIST m_tag_relationship
    id CDATA #REQUIRED
    contentpath CDATA #REQUIRED
    tagtaxonomy CDATA #IMPLIED
>

<!ELEMENT m_tag_tag EMPTY>
<!ATTLIST m_tag_tag
    id CDATA #REQUIRED
    tag CDATA #REQUIRED
    taggroup CDATA #IMPLIED
    slug CDATA #REQUIRED
>

<!ELEMENT m_tag_taxonomy EMPTY>
<!ATTLIST m_tag_taxonomy
    id CDATA #REQUIRED
    tagid CDATA #REQUIRED
    parent CDATA #IMPLIED
    count CDATA #IMPLIED
>

<!ELEMENT m_todo EMPTY>
<!ATTLIST m_todo
    id CDATA #REQUIRED
    summary CDATA #REQUIRED
    statusId CDATA #REQUIRED
    owner CDATA #REQUIRED
    description CDATA #IMPLIED
    startdate CDATA #IMPLIED
    duedate CDATA #IMPLIED
    sender CDATA #IMPLIED
    categoryId CDATA #REQUIRED
    location CDATA #IMPLIED
    reminder CDATA #IMPLIED
    percentageComplete CDATA #IMPLIED
    completeDate CDATA #IMPLIED
    dismiss CDATA #IMPLIED
    enterdatetime CDATA #IMPLIED
>

<!ELEMENT m_todo_category EMPTY>
<!ATTLIST m_todo_category
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT m_todo_status EMPTY>
<!ATTLIST m_todo_status
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT m_tracker_bug EMPTY>
<!ATTLIST m_tracker_bug
    id CDATA #REQUIRED
    summary CDATA #REQUIRED
    detail CDATA #IMPLIED
    assignuser CDATA #IMPLIED
    createdTime CDATA #IMPLIED
    logby CDATA #IMPLIED
    severity CDATA #IMPLIED
    priority CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    status CDATA #REQUIRED
    duedate CDATA #IMPLIED
    environment CDATA #IMPLIED
    resolution CDATA #IMPLIED
    cus_int_01 CDATA #IMPLIED
    cus_int_02 CDATA #IMPLIED
    cus_int_03 CDATA #IMPLIED
    cus_int_04 CDATA #IMPLIED
    cus_int_05 CDATA #IMPLIED
    cus_int_06 CDATA #IMPLIED
    cus_int_07 CDATA #IMPLIED
    cus_int_08 CDATA #IMPLIED
    cus_int_09 CDATA #IMPLIED
    cus_int_10 CDATA #IMPLIED
    cus_str_01 CDATA #IMPLIED
    cus_str_02 CDATA #IMPLIED
    cus_str_03 CDATA #IMPLIED
    cus_str_04 CDATA #IMPLIED
    cus_str_05 CDATA #IMPLIED
    cus_time_01 CDATA #IMPLIED
    cus_time_02 CDATA #IMPLIED
    cus_time_03 CDATA #IMPLIED
    cus_time_04 CDATA #IMPLIED
    cus_dbl_01 CDATA #IMPLIED
    cus_dbl_02 CDATA #IMPLIED
    cus_dbl_03 CDATA #IMPLIED
    projectid CDATA #REQUIRED
    resolveddate CDATA #IMPLIED
    description CDATA #IMPLIED
    estimateTime CDATA #IMPLIED
    estimateRemainTime CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    milestoneId CDATA #IMPLIED
    bugkey CDATA #IMPLIED
>

<!ELEMENT m_tracker_bug_related_item EMPTY>
<!ATTLIST m_tracker_bug_related_item
    id CDATA #REQUIRED
    bugid CDATA #REQUIRED
    type CDATA #REQUIRED
    typeid CDATA #REQUIRED
>

<!ELEMENT m_tracker_component EMPTY>
<!ATTLIST m_tracker_component
    id CDATA #REQUIRED
    projectid CDATA #REQUIRED
    componentname CDATA #REQUIRED
    userlead CDATA #IMPLIED
    description CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    lastUpdatedTime CDATA #IMPLIED
    createdTime CDATA #IMPLIED
>

<!ELEMENT m_tracker_history EMPTY>
<!ATTLIST m_tracker_history
    id CDATA #REQUIRED
    summary CDATA #IMPLIED
    detail CDATA #IMPLIED
    assignuser CDATA #IMPLIED
    posteddate CDATA #IMPLIED
    logby CDATA #IMPLIED
    severity CDATA #IMPLIED
    priority CDATA #IMPLIED
    status CDATA #IMPLIED
    environment CDATA #IMPLIED
    affectedversions CDATA #IMPLIED
    fixonversions CDATA #IMPLIED
    resolution CDATA #IMPLIED
    relatedbug CDATA #REQUIRED
    cus_int_01 CDATA #IMPLIED
    cus_int_02 CDATA #IMPLIED
    cus_int_03 CDATA #IMPLIED
    cus_int_04 CDATA #IMPLIED
    cus_int_05 CDATA #IMPLIED
    cus_int_06 CDATA #IMPLIED
    cus_int_07 CDATA #IMPLIED
    cus_int_08 CDATA #IMPLIED
    cus_int_09 CDATA #IMPLIED
    cus_int_10 CDATA #IMPLIED
    cus_str_01 CDATA #IMPLIED
    cus_str_02 CDATA #IMPLIED
    cus_str_03 CDATA #IMPLIED
    cus_str_04 CDATA #IMPLIED
    cus_str_05 CDATA #IMPLIED
    cus_time_01 CDATA #IMPLIED
    cus_time_02 CDATA #IMPLIED
    cus_time_03 CDATA #IMPLIED
    cus_time_04 CDATA #IMPLIED
    cus_dbl_01 CDATA #IMPLIED
    cus_dbl_02 CDATA #IMPLIED
    cus_dbl_03 CDATA #IMPLIED
>

<!ELEMENT m_tracker_metadata EMPTY>
<!ATTLIST m_tracker_metadata
    id CDATA #REQUIRED
    projectid CDATA #REQUIRED
    xmlstring CDATA #IMPLIED
>

<!ELEMENT m_tracker_query EMPTY>
<!ATTLIST m_tracker_query
    id CDATA #REQUIRED
    queryname CDATA #REQUIRED
    sharetype CDATA #REQUIRED
    createddate CDATA #IMPLIED
    updateddate CDATA #IMPLIED
    owner CDATA #IMPLIED
    querytext CDATA #IMPLIED
    description CDATA #IMPLIED
    projectid CDATA #IMPLIED
>

<!ELEMENT m_tracker_related_bug EMPTY>
<!ATTLIST m_tracker_related_bug
    id CDATA #REQUIRED
    bugid CDATA #REQUIRED
    relatedid CDATA #REQUIRED
    relatetype CDATA #REQUIRED
    comment CDATA #IMPLIED
>

<!ELEMENT m_tracker_version EMPTY>
<!ATTLIST m_tracker_version
    id CDATA #REQUIRED
    projectid CDATA #REQUIRED
    description CDATA #IMPLIED
    duedate CDATA #IMPLIED
    versionname CDATA #REQUIRED
    createdUser CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    lastUpdatedTime CDATA #IMPLIED
    createdTime CDATA #IMPLIED
>

<!ELEMENT s_account EMPTY>
<!ATTLIST s_account
    id CDATA #REQUIRED
    createdTime CDATA #REQUIRED
    billingPlanId CDATA #IMPLIED
    accountName CDATA #IMPLIED
    status CDATA #REQUIRED
    paymentMethod CDATA #REQUIRED
    pricing CDATA #IMPLIED
    pricingEffectFrom CDATA #IMPLIED
    pricingEffectTo CDATA #IMPLIED
    subdomain CDATA #IMPLIED
>

<!ELEMENT s_account_currency EMPTY>
<!ATTLIST s_account_currency
    id CDATA #REQUIRED
    currencyid CDATA #REQUIRED
    accountid CDATA #REQUIRED
>

<!ELEMENT s_account_settings EMPTY>
<!ATTLIST s_account_settings
    id CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
    logoPath CDATA #IMPLIED
    defaultTimezone CDATA #IMPLIED
>

<!ELEMENT s_activitystream EMPTY>
<!ATTLIST s_activitystream
    id CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
    type CDATA #REQUIRED
    typeId CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    action CDATA #IMPLIED
    createdUser CDATA #IMPLIED
    module CDATA #IMPLIED
    nameField CDATA #IMPLIED
    extraTypeId CDATA #IMPLIED
>

<!ELEMENT s_billing_plan EMPTY>
<!ATTLIST s_billing_plan
    id CDATA #REQUIRED
    billingType CDATA #IMPLIED
    numUsers CDATA #IMPLIED
    volume CDATA #IMPLIED
    numProjects CDATA #IMPLIED
    pricing CDATA #IMPLIED
    description CDATA #IMPLIED
    hasBugEnable CDATA #IMPLIED
    hasStandupMeetingEnable CDATA #IMPLIED
    hasTimeTracking CDATA #IMPLIED
>

<!ELEMENT s_chat_server EMPTY>
<!ATTLIST s_chat_server
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    host CDATA #REQUIRED
    port CDATA #REQUIRED
    account_suffix CDATA #IMPLIED
>

<!ELEMENT s_country EMPTY>
<!ATTLIST s_country
    id CDATA #REQUIRED
    countryname CDATA #REQUIRED
>

<!ELEMENT s_currency EMPTY>
<!ATTLIST s_currency
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    isocode CDATA #REQUIRED
    symbol CDATA #REQUIRED
    conversionrate CDATA #IMPLIED
>

<!ELEMENT s_marital_status EMPTY>
<!ATTLIST s_marital_status
    id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT s_module EMPTY>
<!ATTLIST s_module
    id CDATA #REQUIRED
    modulename CDATA #REQUIRED
    description CDATA #IMPLIED
    uri CDATA #REQUIRED
    status CDATA #REQUIRED
    title CDATA #REQUIRED
    sortindex CDATA #REQUIRED
>

<!ELEMENT s_relay_email_notification EMPTY>
<!ATTLIST s_relay_email_notification
    id CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
    type CDATA #REQUIRED
    typeid CDATA #REQUIRED
    action CDATA #REQUIRED
    changeBy CDATA #REQUIRED
    changeComment CDATA #IMPLIED
    extraTypeId CDATA #IMPLIED
    emailHandlerBean CDATA #IMPLIED
>

<!ELEMENT s_relay_mail EMPTY>
<!ATTLIST s_relay_mail
    id CDATA #REQUIRED
    bodyContent CDATA #REQUIRED
    recipients CDATA #REQUIRED
    subject CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
    fromName CDATA #REQUIRED
    fromEmail CDATA #REQUIRED
>

<!ELEMENT s_report_bug_issue EMPTY>
<!ATTLIST s_report_bug_issue
    id CDATA #REQUIRED
    sAccountId CDATA #IMPLIED
    username CDATA #IMPLIED
    userAgent CDATA #IMPLIED
    errorTrace CDATA #REQUIRED
    ipaddress CDATA #IMPLIED
    country_code CDATA #IMPLIED
>

<!ELEMENT s_role_permission EMPTY>
<!ATTLIST s_role_permission
    id CDATA #REQUIRED
    roleid CDATA #REQUIRED
    roleVal CDATA #REQUIRED
>

<!ELEMENT s_roles EMPTY>
<!ATTLIST s_roles
    rolename CDATA #REQUIRED
    description CDATA #IMPLIED
    sAccountId CDATA #REQUIRED
    id CDATA #REQUIRED
>

<!ELEMENT s_save_search_result EMPTY>
<!ATTLIST s_save_search_result
    id CDATA #REQUIRED
    saveUser CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
    queryText CDATA #REQUIRED
    type CDATA #REQUIRED
    createdTime CDATA #IMPLIED
    lastUpdatedTime CDATA #IMPLIED
    queryName CDATA #REQUIRED
>

<!ELEMENT s_user EMPTY>
<!ATTLIST s_user
    username CDATA #REQUIRED
    firstname CDATA #REQUIRED
    middlename CDATA #IMPLIED
    lastname CDATA #REQUIRED
    nickname CDATA #IMPLIED
    dateofbirth CDATA #IMPLIED
    password CDATA #IMPLIED
    email CDATA #REQUIRED
    website CDATA #IMPLIED
    registeredTime CDATA #IMPLIED
    lastAccessedTime CDATA #IMPLIED
    company CDATA #IMPLIED
    timezone CDATA #IMPLIED
    language CDATA #IMPLIED
    country CDATA #IMPLIED
    workPhone CDATA #IMPLIED
    homePhone CDATA #IMPLIED
    facebookAccount CDATA #IMPLIED
    twitterAccount CDATA #IMPLIED
    skypeContact CDATA #IMPLIED
    registerStatus CDATA #IMPLIED
    avatarId CDATA #REQUIRED
>

<!ELEMENT s_user_account EMPTY>
<!ATTLIST s_user_account
    id CDATA #REQUIRED
    username CDATA #REQUIRED
    accountId CDATA #REQUIRED
    isAdmin CDATA #REQUIRED
    isAccountOwner CDATA #REQUIRED
    roleId CDATA #IMPLIED
    registeredTime CDATA #REQUIRED
    registerStatus CDATA #REQUIRED
    lastAccessedTime CDATA #IMPLIED
    registrationSource CDATA #IMPLIED
>

<!ELEMENT s_user_account_invitation EMPTY>
<!ATTLIST s_user_account_invitation
    id CDATA #REQUIRED
    username CDATA #REQUIRED
    accountId CDATA #REQUIRED
    invitationStatus CDATA #REQUIRED
    sentDate CDATA #IMPLIED
    createdTime CDATA #REQUIRED
>

<!ELEMENT s_user_information EMPTY>
<!ATTLIST s_user_information
    id CDATA #REQUIRED
    username CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT s_user_permission EMPTY>
<!ATTLIST s_user_permission
    Id CDATA #REQUIRED
    module CDATA #REQUIRED
    type CDATA #REQUIRED
    hasPermission CDATA #REQUIRED
    username CDATA #REQUIRED
>

<!ELEMENT s_user_preference EMPTY>
<!ATTLIST s_user_preference
    id CDATA #REQUIRED
    username CDATA #IMPLIED
    lastModuleVisit CDATA #IMPLIED
    lastAccessedTime CDATA #IMPLIED
>

<!ELEMENT s_user_tracking EMPTY>
<!ATTLIST s_user_tracking
    id CDATA #REQUIRED
    username CDATA #REQUIRED
    userAgent CDATA #REQUIRED
    createdTime CDATA #REQUIRED
    sAccountId CDATA #REQUIRED
>

<!ELEMENT schema_version EMPTY>
<!ATTLIST schema_version
    version_rank CDATA #REQUIRED
    installed_rank CDATA #REQUIRED
    version CDATA #REQUIRED
    description CDATA #REQUIRED
    type CDATA #REQUIRED
    script CDATA #REQUIRED
    checksum CDATA #IMPLIED
    installed_by CDATA #REQUIRED
    installed_on CDATA #REQUIRED
    execution_time CDATA #REQUIRED
    success CDATA #REQUIRED
>

